
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: #00d4ff;
}
h1,h2,h3,h4,h5,h6{
    font-family: Roboto Condensed;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.hero-content{
    width: 50%;
    padding-left: 70px;
}
.hero-img{
    width: 50%;
    padding-right: 70px;
}
.hero-img img{
    width: 100%;
}
.hero-content-title {
    border-left: 5px solid;
    border-image: linear-gradient(#090979,#00d4ff);
    border-image-slice: 1;
    padding-left: 20px;
}
.hero-content-title h1 {
    font-size: 50px;
    color: #000;
}

.hero-content-title h2 {
    color: #00d4ff;
    font-size: 42px;
}

.hero-content p {
    color: #000;
    line-height: 1.5;
    padding-right: 85px;
    font-size: 16px;
}

a.main-btn {
    text-decoration: none;
    background: linear-gradient(#090979,#00d4ff);
    padding: 15px 70px;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
}
#main-btn-area{
    margin: 40px 0;
}
/*My mission area*/
.my-mission-area{
    padding-top: 30px;
    padding-bottom: 90px;
}
.my-mission-item {
    width: 23%;
    float: left;
    margin: 0 1%;
    background: #00f3ff40;
    padding: 20px 36px;
    border-radius: 7px;
}

.my-mission-icon {
    width: 90px;
    height: auto;
}

.my-mission-icon img {
    width: 100%;
}

.my-mission-content h3 {
    font-size: 23px;
    font-weight: 700;
}

.my-mission-content p {
    font-size: 16px;
    line-height: 1.5;
}

.my-mission-item-wrapper {
    padding-left: 70px;
    overflow: hidden;
}

.my-mission-title {
    margin: 70px 0;
}

.my-mission-title h2 {
    text-align: center;
    font-size: 45px;
}

.my-mission-title h2 span {
    color: #00d4ff;
}
.my-mission-item-2{
    background: #ffa5005e;
}
.my-mission-item-3{
    background: #0000ff52;
}
/*About One Area*/
.about-section-one{
    overflow: hidden;
    margin: 70px 0;
}
.about-one-img img{
    width: 100%;
}
.about-one-img{
    width: 35%;
    margin-left: 7%;
    float: left;
}
.about-one-content{
    width: 35%;
    margin-right: 7%;
    float: left;
}
.about-one-content {
    padding: 50px 70px;
}

.about-one-content h3 {
    font-size: 55px;
}
/*About Two Area*/
.about-section-two{
    overflow: hidden;
    margin: 70px 0;
}
.about-two-img img{
    width: 100%;
}
.about-two-img{
    width: 35%;
    margin-left: 7%;
    float: left;
}
.about-two-content{
    width: 35%;
    margin-right: 7%;
    float: left;
}
.about-two-content {
    padding-top: 50px;
    padding-left: 90px;
}

.about-two-content h3 {
    font-size: 55px;
}
/*Service Area*/
.services-area{
    margin-top: 30px;
    margin-bottom: 90px;
    overflow: hidden;
}
.service-title {
    margin: 70px 0;
}

.service-title h2 {
    text-align: center;
    font-size: 45px;
}

.service-title h2 span {
    color: #00d4ff;
}
.service-wrapper{
    overflow: hidden;
    padding: 0 70px;
}
.service-item {
    width: 25%;
    margin: 0 20px;
    float: left;
    text-align: center;
    box-shadow: 0px 3px 15px #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
}

.service-icon {
    width: 60px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.service-icon img {
    
    width: 100%;
}
/*Footer Area*/
.footer-section{
    background: #000;
    overflow: hidden;
}
.footer-area{
    text-align: center;
    padding: 50px 0;
}
.footer-area h2{
    color: #00d4ff;
    font-size: 35px;
    font-style: italic;
}
.footer-area p{
    color: #fff;
}