body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: Roboto Condensed;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.hero-content{
    width: 50%;
    padding-left: 70px;
}
.hero-img{
    width: 50%;
    padding-right: 70px;
}
.hero-img img{
    width: 100%;
}
.hero-content-title {
    border-left: 5px solid;
    border-image: linear-gradient(#090979,#00d4ff);
    border-image-slice: 1;
    padding-left: 20px;
}
.hero-content-title h1 {
    font-size: 50px;
    color: #000;
}

.hero-content-title h2 {
    color: #00d4ff;
    font-size: 42px;
}

.hero-content p {
    color: #000;
    line-height: 1.5;
    padding-right: 85px;
    font-size: 16px;
}

a.main-btn {
    text-decoration: none;
    background: linear-gradient(#090979,#00d4ff);
    padding: 15px 70px;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
}
#main-btn-area{
    margin: 40px 0;
}
/*My mission area*/
.my-mission-area{
    padding-top: 30px;
    padding-bottom: 90px;
}
.my-mission-item {
    width: 23%;
    float: left;
    margin: 0 1%;
    background: #00f3ff40;
    padding: 20px 36px;
    border-radius: 7px;
}

.my-mission-icon {
    width: 90px;
    height: auto;
}

.my-mission-icon img {
    width: 100%;
}

.my-mission-content h3 {
    font-size: 23px;
    font-weight: 700;
}

.my-mission-content p {
    font-size: 16px;
    line-height: 1.5;
}

.my-mission-item-wrapper {
    padding-left: 70px;
}

.my-mission-title {
    margin: 70px 0;
}

.my-mission-title h2 {
    text-align: center;
    font-size: 45px;
}

.my-mission-title h2 span {
    color: #00d4ff;
}
.my-mission-item-2{
    background: #ffa5005e;
}
.my-mission-item-3{
    background: #0000ff52;
}